<template>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10">
    <MglMap :accessToken="accessToken" :mapStyle="mapStyle" :center="center" :zoom="12" @load="onMapLoad">
      <MglNavigationControl position="top-right" />
      <MglGeojsonLayer
              :sourceId="'gj-source'"
              :source="geoJsonSource"
              layerId="gj-layer"
              :layer="geoJsonLayer"
      />
    </MglMap>
  </main>
</template>

<script>

  import Mapbox from "mapbox-gl";
  import { MglMap, MglNavigationControl, MglGeojsonLayer  } from "vue-mapbox";
  import {eventBus} from '../main'

  export default {
    name: 'Map',
    components: {
      MglMap,
      MglNavigationControl,
      MglGeojsonLayer
    },
    props: {
      geodata: Object
    },
    data() {
      return {
        center: [151.209900, -33.865143],
        accessToken: 'pk.eyJ1IjoiYXN0cmVhcyIsImEiOiJja2Nmd2xueW8wbTYyMzNwYzN3d2xwdHgzIn0.rRrfyhV2skyqroFZNhXGCA',
        mapStyle: 'mapbox://styles/mapbox/streets-v11',
        geoJsonSource: {data: this.geodata},
        geoJsonLayer: {
          type: "symbol",
          layout: {
            'icon-image': 'hu-main-2',
            'text-field': ['get', 'Title', ['get', 'project']],
            'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
            'text-offset': [0, 0.6],
            'text-anchor': 'top'
          },
          paint: {
            'text-color': ['get', 'color']
          }
        },
        filters: []
      };
    },
    created() {
      this.map = null;
      eventBus.$on('set-map-filter', (data) => { this.handleFilters(data) });
    },
    methods: {
      onMapLoad(event) {
         this.map = event.map;
         this.$emit('map-loaded');
      },
      handleFilters(data) {
        let found = false;
        this.filters.forEach((filter, key) => {
          if(filter.filter === data.filter) {
            filter.value = data.value;
            found = true;
          }
        });
        if(!found)
          this.filters.push({filter: data.filter, value: data.value});
        let map_filters_conditions = ['all'];
        this.filters.forEach((filter) => {
          if(filter.value === '' || filter.value === null) return;
          let condition = this.buildCondition(filter);

          if(condition.length > 0)
            map_filters_conditions.push(condition);
        });
        if(map_filters_conditions.length > 0)
          this.map.setFilter('gj-layer', map_filters_conditions);
      },
      buildCondition(filter) {
        switch(filter.filter) {
          case 'title':
            return ['==', ['get', 'Title', ['get', 'project']], filter.value];
          case 'category':
            return ['==', ['get', 'Category', ['get', 'project']], filter.value];
          case 'ownership':
            if(filter.value === 'Private')
              return ['==', ['get', 'Ownership', ['get', 'project']], "PRIVATE"];
            else
              return [];
          case 'floor_area':
            return ['>', ["to-number", ['get', 'Floor Area', ['get', 'project']]], filter.value];
          default:
            return [];
        }
      }
    }
  }
</script>

<style scoped lang="scss">

</style>
