<template>
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="sidebar-sticky pt-3">
      <div v-for="filter in Object.keys(filters)" class="form-group">
        <!-- I was going to clear this mess a little, but decided to leave it as it is because of lack of time and
        no clear vision on how the filters section should looks like in case of html markup etc -->
        <autocomplete :clearable="true" :search="search" v-if="filters[filter].type === 'autocomplete'" @submit="onACSubmit"></autocomplete>

        <v-select v-if="filters[filter].type === 'selectbox'" :options="filters[filter].values" @input="onSelect"></v-select>

        <div class="slider-wrapper" v-if="filters[filter].type === 'slider'">
          <label class="d-block">Floor area greater than: {{ sliderValue }}</label>
          <range-slider
                  :min="filters[filter].values.min"
                  :max="filters[filter].values.max"
                  :step="100"
                  v-model="sliderValue"
                  :name="filter"
                  :disabled="false">
          </range-slider>
        </div>

        <div class="switch-wrapper" v-if="filters[filter].type === 'switch'">
          <label class="switch">
            <input type="checkbox" @change="switchHandle($event, filter)">
            <span class="slider round"></span>
          </label>
          <label>Show only private projects</label>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>

/**
 * I'm not 100% happy about autocomplete component workflow
 * (you should press enter when clearing the field, otherwise changes will not be applied),
 * but i don't want to spend time on improving this by adding clear btn or something simmilar
 **/
import Autocomplete from '@trevoreyre/autocomplete-vue'
import '@trevoreyre/autocomplete-vue/dist/style.css'
import {eventBus} from '../main'
import RangeSlider from 'vue-range-slider'
import 'vue-range-slider/dist/vue-range-slider.css'

export default {
  name: 'Sidebar',
  props: {
    'geodata': Object
  },
  components: {
    Autocomplete,
    RangeSlider
  },
  data() {
    return {
      filters: {
        title: {
          type: 'autocomplete',
          values: []
        },
        category: {
          type: 'selectbox',
          values: []
        },
        ownership: {
          type: 'switch',
          values: {'on':'Private', 'off':'Other'}
        },
        floor_area: {
          type: 'slider',
          values: {min: 99999, max: 0}
        }

      },
      sliderValue: 0
    }
  },
  created() {
    /**
     * I'm not 100% happy about how the filters part is implemented, but to not waste too much time on it
     * i decided to leave it implemented this way to show that within better conditions i'll be able to create
     * flexible solutions
     **/
    let floor_area_values = this.filters.floor_area.values;
    this.geodata.features.forEach((feature) => {
        let title = feature.properties.project['Title'],
            category = feature.properties.project['Category'],
            site_area = parseInt(feature.properties.project['Floor Area']);

        if(!this.filters.title.values.includes(title)) {
          this.filters.title.values.push(title);
        }
        if(!this.filters.category.values.includes(category)) {
          this.filters.category.values.push(category);
        }
        if(floor_area_values.min > site_area) {
          floor_area_values.min = site_area;
        }
        if(floor_area_values.max < site_area) {
          floor_area_values.max = site_area;
        }
      });
      this.sliderValue = floor_area_values.min;
  },
  methods: {
    search(input) {
      let filter = 'title';
      if (input.length < 1) { return this.filters[filter].values }
      return this.filters[filter].values.filter(entry => {
        return entry.toLowerCase()
                .startsWith(input.toLowerCase())
      });
    },
    onACSubmit(result) {
      if(result)
        this.setFilter('title', result);
      else
        this.setFilter('title', '');
    },
    onSelect(result) {
      this.setFilter('category', result);
    },
    switchHandle(event, filter) {
      let value;
      if(event.target.checked)
        value = this.filters[filter].values.on;
      else
        value = this.filters[filter].values.off;
      this.setFilter(filter, value);
    },
    setFilter(filter, value) {
      eventBus.$emit('set-map-filter', {
        filter: filter,
        value: value
      });
    }
  },
  watch: {
    sliderValue(value) {
      this.setFilter('floor_area', value);
    }
  }
}
</script>

<style scoped lang="scss">
  // I decided to not waste time on styling elements for now as i don't have any design or requirements about it
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }

  input:checked + .slider {
    background-color: #2196F3;

    &::before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  .slider.round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
</style>