<template>
  <div id="app">
    <div class="container-fluid">
      <div class="row justify-content-center no-gutters min-vh-100">
        <sidebar :geodata="geodata" v-if="geodata !== null"></sidebar>
        <mb-map v-if="geodata !== null" :geodata="geodata" @map-loaded="mapLoadedHandler"></mb-map>
        <div class="preloader-wrapper" v-show="geodata == null || !is_map_loaded">
          <div class="cssload-loader">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Map from './components/Map';
import Sidebar from "./components/Sidebar";
export default {
  name: 'archistar-front-app',
  components: {
    'mb-map':Map,
    'sidebar': Sidebar
  },
  created() {
    this.axios.get('https://bitbucket.org/idda/coding-challenges/raw/88be221f75a1b108c9e5f7222906b2735c147ac8/testBlob.json')
            .then(response => { this.geodata = response.data});
  },
  data() {
    return {
      geodata: null,
      is_map_loaded: false
    }
  },
  methods: {
    mapLoadedHandler() {
      this.is_map_loaded = true;
    }
  }
}
</script>

<style lang="scss">
  html, body {
    height: 100%;
  }

  #app .container-fluid {
    padding: 0;
  }

  .preloader-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 10000;
  }

  .cssload-loader {
    position: fixed;
    left: calc(50% - 108px);
    top: calc(50% - 108px);
    width: 216px;
    height: 216px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    perspective: 2700px;
  }

  .cssload-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    &.cssload-one {
      left: 0%;
      top: 0%;
      animation: cssload-rotate-one 1.15s linear infinite;
      -o-animation: cssload-rotate-one 1.15s linear infinite;
      -ms-animation: cssload-rotate-one 1.15s linear infinite;
      -webkit-animation: cssload-rotate-one 1.15s linear infinite;
      -moz-animation: cssload-rotate-one 1.15s linear infinite;
      border-bottom: 10px solid rgb(0,0,0);
    }

    &.cssload-two {
      right: 0%;
      top: 0%;
      animation: cssload-rotate-two 1.15s linear infinite;
      -o-animation: cssload-rotate-two 1.15s linear infinite;
      -ms-animation: cssload-rotate-two 1.15s linear infinite;
      -webkit-animation: cssload-rotate-two 1.15s linear infinite;
      -moz-animation: cssload-rotate-two 1.15s linear infinite;
      border-right: 10px solid rgb(0,0,0);
    }

    &.cssload-three {
      right: 0%;
      bottom: 0%;
      animation: cssload-rotate-three 1.15s linear infinite;
      -o-animation: cssload-rotate-three 1.15s linear infinite;
      -ms-animation: cssload-rotate-three 1.15s linear infinite;
      -webkit-animation: cssload-rotate-three 1.15s linear infinite;
      -moz-animation: cssload-rotate-three 1.15s linear infinite;
      border-top: 10px solid rgb(0,0,0);
    }
  }

  @keyframes cssload-rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @-o-keyframes cssload-rotate-one {
    0% {
      -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @-ms-keyframes cssload-rotate-one {
    0% {
      -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @-webkit-keyframes cssload-rotate-one {
    0% {
      -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @-moz-keyframes cssload-rotate-one {
    0% {
      -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @keyframes cssload-rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @-o-keyframes cssload-rotate-two {
    0% {
      -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @-ms-keyframes cssload-rotate-two {
    0% {
      -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @-webkit-keyframes cssload-rotate-two {
    0% {
      -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @-moz-keyframes cssload-rotate-two {
    0% {
      -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @keyframes cssload-rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  @-o-keyframes cssload-rotate-three {
    0% {
      -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  @-ms-keyframes cssload-rotate-three {
    0% {
      -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  @-webkit-keyframes cssload-rotate-three {
    0% {
      -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  @-moz-keyframes cssload-rotate-three {
    0% {
      -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }
</style>
